


.bg-backdrop {
    background: rgba(237, 249, 255, 0.35);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    border-radius: 10px;
}

.md-backdrop {
    background: rgba(237, 249, 255, 0.35);
    box-shadow: 0 0px 1px 1px rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    border-radius: 10px;
}

::placeholder{
    color: #333 !important;
}

.Avatar_Img {
    display: block;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
}

.custom-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    .icon-size {
        display: inline-block;
        border-radius: 5px;
        transition: all linear 0.3s;

        &:hover {
            padding: 2px;
            transform: scale(0.95);
            color: #1056bd;
            opacity: 0.8;
            background: #d3cce3;
        }
    }
}

.all-user-container{
    width: 100%;
    max-height: 68vh;
    display: flex ;
    flex-flow: nowrap column;
    gap: 10px 0px;
    align-items: start;
    overflow-y: auto;

    .user-fild{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 0px 10px;
        color: #d8f1ff;
        padding: 10px 5px;
        border-bottom: 1px solid #d3cce3;
        transition: 0.3s linear all;
        
        &:hover{
            padding: 10px 25px;
            background-color:#6190e8;
            border-radius: 10px;
            border-bottom: transparent;
        }

        .user-avatar-img{
            display:block;
            border-radius: 50%;
            object-fit: cover;
            width: 50px;
        }

        .user-name_text{
            font-size: 1rem;
            line-height: 1.5rem;
            text-transform: capitalize;
            font-weight: 500;
            display: flex;
            flex-flow: wrap column;
            align-items: start;
            justify-content: center;

            .user_text{
                font-size: 12px;
                line-height: 16px;
                font-weight: 300;
            }
        }
    }
}

.chat_container{
    width: 100%;    
    max-height: 70vh;
    overflow-y: auto;
    padding: 20px 0px ;
    .message_box{
        display: flex ;
        width: 85%;
        gap: 10px;
        align-items: start;
        justify-content: center;
        .chatUser_img{
            max-width: 38px;
            img{
                width: 100%;
                height: 100%;
                display: block;
                object-fit: cover;
                object-position: center;
                border-radius: 50%;
            }
        }

        .media-file{
            min-width:80px;
            min-height:80px;
            border: 2px solid white ;
            border-radius: 10px;
            overflow: hidden;
            margin: 10px 0px ;
            img{
                display: block;
                width: 100%;
                height: auto;
                object-fit: contain;
                object-position: center;
            }
        }
    }

    .own{
        align-self: flex-end;
        transform: rotateY(180deg);
        .message_text{
            transform: rotateY(180deg);            
            text-align: right;
            background-color:#8b4af3;
            color: #ecfdfb;
            padding: 10px 15px;
            border-radius: 10px;
        }
    }

}


.sherd_media_container{
    .sherd_box{

        h1.sherd_btn{
            padding:2px 0px;
            display: flex ;
            align-items: center;
            justify-content: space-between;
            font-size: 1.2rem;
            line-height: 1.8;
            color: #d8f1ff;
            cursor: pointer;
            transition: all 0.3s linear;
            span{
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50px;
                background-color: #8b4af360;
            }

            &:hover{
                color: #333;
            }
        }

        .files_container{
            ul{
                max-height: 180px;
                overflow-y: auto;

                li.file_fild{
                    display: flex;
                    flex-flow: wrap row;
                    gap: 0px 10px ;
                    align-items: center;
                    color: #333;
                    justify-content: start;
                    padding: 10px 15px;
                    border-bottom: 1px solid #ecfdfb;
                    transition: all 0.3s linear;
                    &:hover{
                        background-color:#6190e8;
                        border-radius: 10px;
                        color: #ecfdfb;
                        border-bottom: transparent;
                    }

                    img{
                        display: block;
                        width: 60px;
                        height:60px;
                        object-fit:cover;
                        border-radius: 10px;
                        object-position: center;
                    }
                    p{
                        text-align: left;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}